@model IEnumerable<WebChoThueThietBiXD.Models.DonHang>
@{
    ViewData["Title"] = "StaffIndex";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<div class="main_content" style="height: auto; margin-top: 150px; margin-left: 300px;">
    <div class="container">
        <h1>Danh sách đơn hàng</h1>
        <hr>
        <div class="search-container">
            <form asp-controller="DonHang" asp-action="DonHangSearchStaff" method="get">
                <input type="text" class="search-input" id="txtSearch" name="query" placeholder="Tìm kiếm theo tên khách hàng">
                <button type="submit" id="btnSearch" style="display:none;">Search</button>
            </form>
            <button class="filter-btn" onclick="toggleDropdown()">
                <img src="/images/filter.png" class="icon">
                <span>Lọc</span>
            </button>
        </div>
        <form asp-controller="DonHang" asp-action="DonHangFilterStaff" method="get">
            <div id="dropdown-filter" class="dropdown-filter-content">
                <select id="maDanhMuc" name="trangThai" onchange="this.form.submit()" class="dropdown-filter-item">
                    <option value="">Trạng thái</option>
                    <option value="Đang giao">Đang giao hàng</option>
                    <option value="Đang xử lý">Đang xử lý</option>
                    <option value="Đã giao">Đã giao hàng</option>
                </select>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên khách hàng
                    </th>
                    <th>
                        Trạng thái đơn hàng
                    </th>
                    <th>
                        Ngày thanh toán
                    </th>
                    <th>
                        Ngày giao hàng
                    </th>
                    <th>
                        Tên nhân viên
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhieuDat.KhachHang.tenKhachHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.trangThaiDonHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngayThanhToan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngayGiaoHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NhanVien.tenNhanVien)
                        </td>
                        <td>
                            <a href="@Url.Action("DetailsDonHang", "Staff", new { maDonHang = item.maDonHang })">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


