@model IEnumerable<WebChoThueThietBiXD.Models.PhieuDat>
@{
    ViewData["Title"] = "StaffIndex";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<div class="main_content" style="height: auto; margin-top: 150px; margin-left: 300px;">
    <div class="container">
        <h1>Danh sách phiếu đặt</h1>
        <hr>
        <p>
            <a class="btn btn-primary" href="/Staff/CreateKhachHang">Chưa có tài khoản</a>
            <select class="btn btn-primary" id="actionSelect">
                <option value="">Đã có tài khoản</option>
                <option value="/Staff/CreatePhieuDat">Tạo phiếu đặt</option>
            </select>
            <a class="btn btn-secondary" href="/Staff/DuyetPhieuDat">Duyệt phiếu đặt</a>
        </p>
        <div class="search-container">
            <form asp-controller="PhieuDat" asp-action="PhieudatSearchStaff" method="get">
                <input type="text" class="search-input" id="txtSearch" name="query" placeholder="Tìm kiếm theo tên hoặc số điện thoại">
                <button type="submit" id="btnSearch" style="display:none;">Search</button>
            </form>
            <button class="filter-btn" onclick="toggleDropdown()">
                <img src="/images/filter.png" class="icon">
                <span>Lọc</span>
            </button>
        </div>
        <form asp-controller="PhieuDat" asp-action="PhieudatFilterStaff" method="get">
            <div id="dropdown-filter" class="dropdown-filter-content">
                <select id="maDanhMuc" name="trangThai" onchange="this.form.submit()" class="dropdown-filter-item">
                    <option value="">Trạng thái</option>
                    <option value="Chưa xác nhận">Chưa xác nhận</option>
                    <option value="Đã xác nhận">Đã xác nhận</option>
                    <option value="Đã hủy">Đã hủy</option>
                </select>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên khách hàng
                    </th>
                    <th>
                        Ngày tạo phiếu
                    </th>
                    <th>
                        Trạng thái phiếu đặt
                    </th>
                    <th>
                        Địa chỉ giao hàng
                    </th>
                    <th>
                        Số điện thoại giao hàng
                    </th>
                    <th>
                        Ghi chú
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                         <td>
                            @Html.DisplayFor(modelItem => item.KhachHang.tenKhachHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngayTaoPhieu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.trangThaiPhieuDat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.diaCHiGiaoHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.soDienThoaiGiaoHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ghiChu)
                        </td>
                        <td>
                            <a href="/Staff/UpdatePhieuDat/@item.maPhieuDat">Edit</a> |
                            <a href="/Staff/DetailsPhieuDat/@item.maPhieuDat">Details</a> |
                            <a href="/Staff/DeletePhieuDat/@item.maPhieuDat">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


