@model WebChoThueThietBiXD.Models.HinhAnhThietBi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HinhAnhThietBi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThietBi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThietBi.tenThietBi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.maHinhAnh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
