@model WebChoThueThietBiXD.Models.KhachHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    dl.row {
        display: flex;
        flex-wrap: wrap;
    }

        dl.row dt,
        dl.row dd {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
        }

        dl.row dt {
            width: 15%;
            font-weight: bold;
        }

        dl.row dd {
            width: 85%;
        }
</style>
<div>
    <h1>Chi tiết</h1>

    <div>
        <h4>Khách hàng</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Tên
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.tenKhachHang)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ngaySinh)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ngaySinh)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.soDienThoai)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.soDienThoai)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.diaChi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.diaChi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TaiKhoan)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TaiKhoan.tenDangNhap)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.maKhachHang">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>